/* Imports */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* Vars */

:root {
	--font-lato: 'Lato', sans-serif;
}

/* Globals */

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

body {
	width: 100%;
	height: 100%;
	font-family: var(--font-lato);
}